{% load staticfiles %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
        <script src="{% static "myapp/fkautocomplete.js" %}"></script>
    </head>

    <body>
        <form method="POST">
            {{form.as_p}}
            <button type="submit">Save</button>
        </form>
    </body>
</html>
